<ion-view view-title="User Details">
  <ion-content>
    <div ng-if="authData.google" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{authData.google.profileImageURL}}" alt="">
        <h2>{{authData.google.displayName}}</h2>
        <p>{{authData.google.email}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
          <center>{{usergot.name}}</center>
        </div>
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-person"></i>
                {{usergot.name}}
          </div>
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-merge"></i>
                {{usergot.branch}}
          </div>
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-iphone"></i>
                {{usergot.phone}}
          </div>
          <div class="item item-text-wrap item-icon-left">
            <i class="icon ion-university"></i>
                {{usergot.sap}}
          </div>
          <div ng-if="!usergot.paid" class="item item-text-wrap item-icon-left assertive">
            <i class="icon ion-card"></i>
                Membership Fee Not Paid
          </div>
          <div ng-if="usergot.paid" class="item item-text-wrap item-icon-left positive">
            <i class="icon ion-card"></i>
                Membership Fee Paid
          </div>
          <div class="item item-divider">
            <center>{{usergot.Year}}</center>
          </div>
    </div>
  </ion-content>
</ion-view>
